/* 全体レイアウト */
body {
  font-family: "Segoe UI", "Hiragino Sans", "Meiryo", sans-serif;
  margin: 0;
  background: #121212; /* ダーク背景 */
  color: #e0e0e0;     /* 明るめ文字 */
}

/* サイドバー */
.sidebar {
    position: fixed;
    width: 15%;
    height: 100vh;
    background: #1f1f1f;
    padding: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.sidebar h1 { 
  font-size: 3vh;
  margin-bottom: 1vh;
}
.sidebar a {
  display: block;
  margin: 2vh 0;
  color: #ccc;
  text-decoration: none;
}
.sidebar a:hover {
  color: #bef106;
}

/* dashboard-summary */
#dashboard-summary {
    margin-top: auto;    /* ← これが下に固定する魔法 */
}

.summary-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1vh 1vh;   /* 行間と列間 */
}

.summary-grid > div:nth-child(odd) {
    font-weight: 600; /* ラベル強調すると読みやすい */
}

/* メインコンテンツ */
.main {
    margin-left: 15%;
    padding: 1vh;
}

/* グラフ共通 */
.graph-title {
    color: #ffffff;
}
/* メインコンテンツ（複数グラフ用） */
/*.main {
    margin-left: 15%;    
    padding: 2vh;
    height: 100vh;    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}*/

/* メイングリッド */
.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); /* 2行均等 */
    gap: 1vh;
    height: 100vh;
    padding: 1vh;
    box-sizing: border-box;
}
/* グラフコンテナ */
.graph-container {
    display: grid;
    grid-template-rows: auto 1fr; /* 上がタイトル auto、下がグラフ 1fr */
    overflow: hidden;
    background: #1c1c1c;
    border-radius: 1vh;
    padding: 1vh;
}
/* タイトル */
.graph-title {
    font-size: 3vh;
    margin: 0 0 0.5vh 0.5vh;
}

/* Plotly 描画エリア */
.graph-container > div:last-child {
    /* タイトル以外の div がグラフ描画領域 */
    width: 100%;
    height: 100%;
}