<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{% block title %}Finance Dashboard{% endblock %}</title>
<link rel="stylesheet" href="/static/style.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% block head_extra %}{% endblock %}
</head>
<body>

<div class="sidebar">
  <h1>💰 Finance App</h1>
  <a href="/api/dashboard/view">ダッシュボード</a>

  {% block sidebar_extra %}{% endblock %}
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

<div class="main">
  {% block content %}{% endblock %}
</div>



</body>
</html>
